{{'section-fixed-scroll.css' | asset_url | stylesheet_tag }}
<!-- <div style="display: flex; position: relative; border: 1px solid red;"> -->
    <!-- <div class="tw-relative">
        <div class="tw-sticky" style=" position: -webkit-sticky;
        position: sticky;
        top: 10px;
        background-color: yellow;
        z-index: 20;
        width: 50%;
        ">
            I will stick to the screen when you reach my scroll position
        </div>
    </div>
</div> -->
<div class="tw-flex tw-bg-red-500 tw-z-10 tw-relative" style="    display: flex;
height: auto;
-webkit-box-align: start;
-webkit-align-items: flex-start;
-ms-flex-align: start;
align-items: flex-start;">
    <div class="tw-bg-blue-900 tw-px-20 tw-py-5 tw-sticky tw-top-0" style="max-width: 50%;">  
        <h1 class="tw-text-white">THE HEALTHIEST <br/>PURCHASE<br/>
            YOU WILL EVER OWN.</h1>
        <div class="tw-my-10 tw-flex tw-flex-col tw-gap-9">
            {%for i in (1..4)%}
            <div class="tw-flex tw-gap-4">
                <img class="tw-w-20 tw-object-contain"  src="https://cdn.shopify.com/s/files/1/0566/1294/6104/files/ANTI_POLLUTANT.png?v=1645017390" alt="" loading="lazy"/>
                <div class="tw-flex tw-flex-col tw-gap-2">
                    <h3 class="tw-text-white tw-font-bold">ANTI POLLUTANT</h3>
                    <p class="tw-text-white">Eliminates 99.9% of pollutants like bacteria, viruses, dust, pollen, smoke, mold and more.</p>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
    <div class="tw-px-20 tw-py-10 tw-flex-1">
        <h1>Advanced protection at night. Wake up refreshed, not tired.</h1>
        <p>Purifair quietly keeps the air clean in your bedroom, helping you sleep peacefully and wake up well-rested.</p>
        <video autoplay src="https://cdn.shopify.com/s/files/1/0566/1294/6104/files/1-1_e3539c04-1441-4bc0-af49-3c4eb3d604f5.mp4?v=1640684657"></video>
    </div>
</div>